

// font imports

// @import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// font stack
$font-stack: Circular, 'Karla',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// colors
$grey--light : #e0e4e9;
$grey--med--light : #8A8E92;
$grey--medium : #343f45;
$grey--dark : #333;
$grey--darkest : #272727;
$yellow: #fdc812;
$orange: #F1883B;
$pink: #f9c0a8;
$red: hsl(2, 80%, 57%);

