

// font imports

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: "Circular";
    src: url("../fonts/circular/Circular-Book.eot");
    src: url("../fonts/circular/Circular-Book.eot?#iefix") format("embedded-opentype"),
         url("../fonts/circular/Circular-Book.woff") format("woff"),
         url("../fonts/circular/Circular-Book.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "Circular";
    src: url("../fonts/circular/Circular-Medium.eot");
    src: url("../fonts/circular/Circular-Medium.eot?#iefix") format("embedded-opentype"),
         url("../fonts/circular/Circular-Medium.woff") format("woff"),
         url("../fonts/circular/Circular-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: "Circular";
    src: url("../fonts/circular/Circular-Bold.eot");
    src: url("../fonts/circular/Circular-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/circular/Circular-Bold.woff") format("woff"),
         url("../fonts/circular/Circular-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: "Circular";
    src: url("../fonts/circular/Circular-Black.eot");
    src: url("../fonts/circular/Circular-Black.eot?#iefix") format("embedded-opentype"),
         url("../fonts/circular/Circular-Black.woff") format("woff"),
         url("../fonts/circular/Circular-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
  }

// font stack

$font-stack: Circular, 'Karla',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// colors
$grey--light : #e0e4e9;
$grey--medium : #343f45;
$grey--dark : #333;
$yellow: #fdc812;
$orange: #F1883B;
$red: hsl(2, 80%, 57%);

